@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media only screen and (min-width: 600px) {

	.leftCol,
	.midCol,
	.rightCol {
	border: 0.2rem solid;
	margin: 0.5rem;
	height: 20rem;
	text-align: center;
	width: 20rem;
	}

	body {
	margin-right: 5rem;
	border-left: 0.5rem solid;
	border-right: 0.5rem solid;
	margin-left: 5rem;
	}

}

body {
	background: #EBDF1E;
	font-family: 'Poppins';
	color: white;
	height: 100%;
	margin-bottom: 0;
	margin-top: 0;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	background-color: #8AD437;
	text-align: center;
}

.socials {
	display: flex;
	justify-content: space-evenly;
}

.header img {
	height: 2rem;
	width: 2rem;
	margin-left: 0.5em;
}

.navBar {
	background-color: #D63E1A;
	margin-top: 0.5rem;
	height: 3rem;
	padding: 0.2rem;
	border-top: 0.1rem solid;
	border-bottom: 0.1rem solid;
	box-shadow: 0.1rem 0.5rem 0.9rem #bf8282;
	margin-bottom: 1rem;
}

.footer {
	position: fixed;
	bottom: 0;
	height: 10rem;
	background-color: #8AD437;
}




.hero .container {
	display: flex;
	justify-content: space-around;
}

.logoContainer img{
	width: 11.1rem;
	height: 9.5rem;
	padding: 0.5rem

}

.logoContainer {
	display: flex;
	justify-content: center;
}


.navBar img {
	height: 2rem;
	width: 2rem;
	display: none;
}

.primaryNav {
	text-decoration: none;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
}

@media only screen and (max-width: 600px) {
	body {
		margin: 0;
	}


	.header {
		padding: 0.1rem;
		flex-direction: column;
	}

	.socials {
		border-top: 0.01rem solid white;
	}

	.navBar nav {
		display: none;
	}

	#mobileCta {
		margin-right: 0.5rem;
		margin-left: auto;
		height: 1.5rem;
		width: 1.5rem;
	}

	.hero .container {
		display: flex;
		flex-direction: column;
		align-self: center;
	}

	.leftCol,
	.midCol,
	.rightCol {
		border: 0.2rem solid;
		margin: 0.5rem;
		height: 10rem;
		text-align: center;
	}

}




